<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Examen_EC2.Properties.Settings.Examen_PoroyectoEscuelaConnectionString"
            connectionString="Data Source=RASEC_THINKPAD\SQLEXPRESS;Initial Catalog=Examen_PoroyectoEscuela;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Examen_EC2.Properties.Settings.Examen_ProyectoEscuelaConnectionString"
            connectionString="Data Source=RASEC_THINKPAD\SQLEXPRESS;Initial Catalog=Examen_ProyectoEscuela;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>